@charset "utf-8";
/* CSS Document */

/* 阿里巴巴普惠体（Thin） */
@font-face {
    font-family: "AlibabaPuHuiTi-Thin";
    src: url("./AlibabaPuHuiTi-3/AlibabaPuHuiTi-3-35-Thin/AlibabaPuHuiTi-3-35-Thin.woff2") format("woff2"), url("./AlibabaPuHuiTi-3/AlibabaPuHuiTi-3-35-Thin/AlibabaPuHuiTi-3-35-Thin.woff") format("woff"), url("./AlibabaPuHuiTi-3/AlibabaPuHuiTi-3-35-Thin/AlibabaPuHuiTi-3-35-Thin.otf") format('opentype');
    font-display: swap;
}
.font-AlibabaPuHuiTi-Thin{
    font-family: AlibabaPuHuiTi-Thin, serif;
}

/* 阿里巴巴普惠体（Light） */
@font-face {
    font-family: "AlibabaPuHuiTi-Light";
    src: url("./AlibabaPuHuiTi-3/AlibabaPuHuiTi-3-45-Light/AlibabaPuHuiTi-3-45-Light.woff2") format("woff2"), url("./AlibabaPuHuiTi-3/AlibabaPuHuiTi-3-45-Light/AlibabaPuHuiTi-3-45-Light.woff") format("woff"), url("./AlibabaPuHuiTi-3/AlibabaPuHuiTi-3-45-Light/AlibabaPuHuiTi-3-45-Light.otf") format('opentype');
    font-display: swap;
}
.font-AlibabaPuHuiTi-Light{
    font-family: AlibabaPuHuiTi-Light, serif;
}

/* 阿里巴巴普惠体（Regular） */
@font-face {
    font-family: "AlibabaPuHuiTi-Regular";
    src: url("./AlibabaPuHuiTi-3/AlibabaPuHuiTi-3-55-Regular/AlibabaPuHuiTi-3-55-Regular.woff2") format("woff2"), url("./AlibabaPuHuiTi-3/AlibabaPuHuiTi-3-55-Regular/AlibabaPuHuiTi-3-55-Regular.woff") format("woff"), url("./AlibabaPuHuiTi-3/AlibabaPuHuiTi-3-55-Regular/AlibabaPuHuiTi-3-55-Regular.otf") format('opentype');
    font-display: swap;
}
.font-AlibabaPuHuiTi-Regular{
    font-family: AlibabaPuHuiTi-Regular, serif;
}

/* 阿里巴巴普惠体（Regular L3） */
@font-face {
    font-family: "AlibabaPuHuiTi-RegularL3";
    src: url("./AlibabaPuHuiTi-3/AlibabaPuHuiTi-3-55-RegularL3/AlibabaPuHuiTi-3-55-RegularL3.woff2") format("woff2"), url("./AlibabaPuHuiTi-3/AlibabaPuHuiTi-3-55-RegularL3/AlibabaPuHuiTi-3-55-RegularL3.woff") format("woff"), url("./AlibabaPuHuiTi-3/AlibabaPuHuiTi-3-55-RegularL3/AlibabaPuHuiTi-3-55-RegularL3.otf") format('opentype');
    font-display: swap;
}
.font-AlibabaPuHuiTi-RegularL3{
    font-family: AlibabaPuHuiTi-RegularL3, AlibabaPuHuiTi-Regular, sans-serif;
}

/* 阿里巴巴普惠体（Medium） */
@font-face {
    font-family: "AlibabaPuHuiTi-Medium";
    src: url("./AlibabaPuHuiTi-3/AlibabaPuHuiTi-3-65-Medium/AlibabaPuHuiTi-3-65-Medium.woff2") format("woff2"), url("./AlibabaPuHuiTi-3/AlibabaPuHuiTi-3-65-Medium/AlibabaPuHuiTi-3-65-Medium.woff") format("woff"), url("./AlibabaPuHuiTi-3/AlibabaPuHuiTi-3-65-Medium/AlibabaPuHuiTi-3-65-Medium.otf") format('opentype');
    font-display: swap;
}
.font-AlibabaPuHuiTi-Medium{
    font-family: AlibabaPuHuiTi-Medium, serif;
}

/* 阿里巴巴普惠体（SemiBold） */
@font-face {
    font-family: "AlibabaPuHuiTi-SemiBold";
    src: url("./AlibabaPuHuiTi-3/AlibabaPuHuiTi-3-75-SemiBold/AlibabaPuHuiTi-3-75-SemiBold.woff2") format("woff2"), url("./AlibabaPuHuiTi-3/AlibabaPuHuiTi-3-75-SemiBold/AlibabaPuHuiTi-3-75-SemiBold.woff") format("woff"), url("./AlibabaPuHuiTi-3/AlibabaPuHuiTi-3-75-SemiBold/AlibabaPuHuiTi-3-75-SemiBold.otf") format('opentype');
    font-display: swap;
}
.font-AlibabaPuHuiTi-SemiBold{
    font-family: AlibabaPuHuiTi-SemiBold, serif;
}

/* 阿里巴巴普惠体（Bold） */
@font-face {
    font-family: "AlibabaPuHuiTi-Bold";
    src: url("./AlibabaPuHuiTi-3/AlibabaPuHuiTi-3-85-Bold/AlibabaPuHuiTi-3-85-Bold.woff2") format("woff2"), url("./AlibabaPuHuiTi-3/AlibabaPuHuiTi-3-85-Bold/AlibabaPuHuiTi-3-85-Bold.woff") format("woff"), url("./AlibabaPuHuiTi-3/AlibabaPuHuiTi-3-85-Bold/AlibabaPuHuiTi-3-85-Bold.otf") format('opentype');
    font-display: swap;
}
.font-AlibabaPuHuiTi-Bold{
    font-family: AlibabaPuHuiTi-Bold, serif;
}

/* 阿里巴巴普惠体（ExtraBold） */
@font-face {
    font-family: "AlibabaPuHuiTi-ExtraBold";
    src: url("./AlibabaPuHuiTi-3/AlibabaPuHuiTi-3-95-ExtraBold/AlibabaPuHuiTi-3-95-ExtraBold.woff2") format("woff2"), url("./AlibabaPuHuiTi-3/AlibabaPuHuiTi-3-95-ExtraBold/AlibabaPuHuiTi-3-95-ExtraBold.woff") format("woff"), url("./AlibabaPuHuiTi-3/AlibabaPuHuiTi-3-95-ExtraBold/AlibabaPuHuiTi-3-95-ExtraBold.otf") format('opentype');
    font-display: swap;
}
.font-AlibabaPuHuiTi-ExtraBold{
    font-family: AlibabaPuHuiTi-ExtraBold, serif;
}

/* 阿里巴巴普惠体（Heavy） */
@font-face {
    font-family: "AlibabaPuHuiTi-Heavy";
    src: url("./AlibabaPuHuiTi-3/AlibabaPuHuiTi-3-105-Heavy/AlibabaPuHuiTi-3-105-Heavy.woff2") format("woff2"), url("./AlibabaPuHuiTi-3/AlibabaPuHuiTi-3-105-Heavy/AlibabaPuHuiTi-3-105-Heavy.woff") format("woff"), url("./AlibabaPuHuiTi-3/AlibabaPuHuiTi-3-105-Heavy/AlibabaPuHuiTi-3-105-Heavy.otf") format('opentype');
    font-display: swap;
}
.font-AlibabaPuHuiTi-Heavy{
    font-family: AlibabaPuHuiTi-Heavy, serif;
}

/* 阿里巴巴普惠体（Black） */
@font-face {
    font-family: "AlibabaPuHuiTi-Black";
    src: url("./AlibabaPuHuiTi-3/AlibabaPuHuiTi-3-115-Black/AlibabaPuHuiTi-3-115-Black.woff2") format("woff2"), url("./AlibabaPuHuiTi-3/AlibabaPuHuiTi-3-115-Black/AlibabaPuHuiTi-3-115-Black.woff") format("woff"), url("./AlibabaPuHuiTi-3/AlibabaPuHuiTi-3-115-Black/AlibabaPuHuiTi-3-115-Black.otf") format('opentype');
    font-display: swap;
}
.font-AlibabaPuHuiTi-Black{
    font-family: AlibabaPuHuiTi-Black, serif;
}

/* 阿里巴巴普惠體（ Big5 Light） */
@font-face {
    font-family: "AlibabaSansTC-Light";
    src: url("./AlibabaPuHuiTi-3/AlibabaSansTC-45/AlibabaSansTC-45.woff2") format("woff2"), url("./AlibabaPuHuiTi-3/AlibabaSansTC-45/AlibabaSansTC-45.woff") format("woff"), url("./AlibabaPuHuiTi-3/AlibabaSansTC-45/AlibabaSansTC-45.otf") format('opentype');
    font-display: swap;
}
.font-AlibabaSansTC-Light{
    font-family: AlibabaSansTC-Light, serif;
}

/* 阿里巴巴普惠體（ Big5 Regular） */
@font-face {
    font-family: "AlibabaSansTC-Regular";
    src: url("./AlibabaPuHuiTi-3/AlibabaSansTC-55/AlibabaSansTC-55.woff2") format("woff2"), url("./AlibabaPuHuiTi-3/AlibabaSansTC-55/AlibabaSansTC-55.woff") format("woff"), url("./AlibabaPuHuiTi-3/AlibabaSansTC-55/AlibabaSansTC-55.otf") format('opentype');
    font-display: swap;
}
.font-AlibabaSansTC-Regular{
    font-family: AlibabaSansTC-Regular, serif;
}

/* 阿里巴巴普惠體（ Big5 SemiBold） */
@font-face {
    font-family: "AlibabaSansTC-SemiBold";
    src: url("./AlibabaPuHuiTi-3/AlibabaSansTC-75/AlibabaSansTC-75.woff2") format("woff2"), url("./AlibabaPuHuiTi-3/AlibabaSansTC-75/AlibabaSansTC-75.woff") format("woff"), url("./AlibabaPuHuiTi-3/AlibabaSansTC-75/AlibabaSansTC-75.otf") format('opentype');
    font-display: swap;
}
.font-AlibabaSansTC-SemiBold{
    font-family: AlibabaSansTC-SemiBold, serif;
}

/* 阿里巴巴普惠體（ Big5 ExtraBold） */
@font-face {
    font-family: "AlibabaSansTC-ExtraBold";
    src: url("./AlibabaPuHuiTi-3/AlibabaSansTC-95/AlibabaSansTC-95.woff2") format("woff2"), url("./AlibabaPuHuiTi-3/AlibabaSansTC-95/AlibabaSansTC-95.woff") format("woff"), url("./AlibabaPuHuiTi-3/AlibabaSansTC-95/AlibabaSansTC-95.otf") format('opentype');
    font-display: swap;
}
.font-AlibabaSansTC-ExtraBold{
    font-family: AlibabaSansTC-ExtraBold, serif;
}